/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    /*margin-top: 20px;*/
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 10px 0;
}
.navbar-default {
  background-image: none;
  box-shadow: none;
}

.jumbotron {
    padding-left: 15px;
    padding-right: 15px;
}
@media print {
  a[href]:after {
    content: none !important;
  }
}