nav span.twitter-typeahead {
    width: auto !important;
}

.typeahead {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media print {
    .card {
        border: none;
        display: inline;
    }

    .no-page-break {
        page-break-inside: avoid;
    }

    .form-control, .input-group-text {
        border: 0;
        padding: 0;
        overflow: visible;
    }

    select {
        border: 0 !important;
        outline: 0 !important;
    }
}