@using Hops.Models;
@model ListModel<HopModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hops";
}

<base href="/hop/" />

<h3>Welcome to Curleez &amp; ME! <small>...and he made it out of hops</small></h3>
<br/>

@Html.Partial("~/Views/Hop/List.cshtml", Model)