@using Hops.Models;
@model ListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hops";
}

<h3>Welcome to Hops! <small>...and he made it out of hops</small></h3>
<br/>

@Html.Partial("List", Model)