@model Hops.Models.ViewModels.ListModel<Hops.Models.Hops.Hop>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hops";
}

<base href="/hop/" />

<h4>Welcome to Curleez &amp; ME! <small class="text-muted">...and he made it out of hops</small></h4>
<br/>

@await Html.PartialAsync("~/Views/Hop/List.cshtml", Model)