@{
    ViewBag.Title = "Search";
}

<base href="/search/" />

<h3>Search:</h3>
<br/>

<div class="input-group">
    <input type="text" class="form-control typeahead" id="search" onkeypress="handle(event, search)" placeholder="Search Hops...">
    <span class="input-group-text"><i class="fas fa-search"></i></span>
</div>


<br/>
<h3>Free Text Search:</h3>
<br />

<div class="input-group">
    <input type="text" class="form-control" id="freetextsearch" onkeypress="handle(event, freeTextSearch)" placeholder="Free Text Search Hops...">
    <span class="input-group-text"><i class="fas fa-search"></i></span>
</div>

<br/>
<h3>Hop aromas:</h3>

<ul class="list-unstyled row" style="padding: 15px;">
    @foreach (var aromaProfile in Enum.GetValues(typeof(AromaProfileEnum)).OfType<AromaProfileEnum>().ToList().Skip(1).OrderBy(a => a.ToString()))
    {
        <li class="list-group-item col-sm-6"><a href="~/search/aroma/@((int)aromaProfile)">@aromaProfile.Wordify()</a></li>
    }
</ul>