@model Int32

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Inventory";
}

<base href="/search/inventory/" />

<h3>Hops inventory:</h3>

<div class="hop-inv"></div>

<h3>Malts inventory:</h3>

<div class="malt-inv"></div>

<h3>Yeasts inventory:</h3>

<div class="yeast-inv"></div>

<label class="btn btn-default hidden-print" for="my-file-selector">
    <input id="my-file-selector" type="file" style="display:none;" onchange="importInventory(this);">
    <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import
</label>

<button type="button" class="btn btn-default hidden-print" onclick="exportInventory();">
    <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export
</button>

<button type="button" class="btn btn-default hidden-print" onclick="window.print();">
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
</button>

<button type="button" class="btn btn-danger pull-right hidden-print" onclick="deleteInventory();">Delete ALL</button>

<br/><br/>

<div class="well">
    <label for="invCode">Your personal inventory code</label>
    <div class="input-group">
        <input id="invCode" type="text" class="form-control" placeholder="Inventory code...">
        <span class="input-group-btn hidden-print">
            <button class="btn btn-default" type="button" onclick="syncInventory();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Sync
            </button>
        </span>
    </div>
</div>

<script>
    $(function () {
        loadInventoryCode();
        loadInventory(@Model);
    });
</script>
