@using Hops.Models;
@model ListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Inventory - Hops";
}

@Html.Partial("List", Model)

<button type="button" class="btn btn-danger" onclick="deleteAll();">Delete ALL</button>

<script>
    function deleteAll() {
        localStorage.clear();  
    }
</script>
