@model Int32

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Inventory";
}

<base href="/search/inventory/" />

<h3>Inventory</h3>

<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="nav-item"><a class="nav-link active" href="#hop" data-toggle="tab" role="tab">Hops</a></li>
    <li class="nav-item"><a class="nav-link" href="#malt" data-toggle="tab" role="tab">Malts</a></li>
    <li class="nav-item"><a class="nav-link" href="#yeast" data-toggle="tab" role="tab">Yeast</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="hop" role="tabpanel"><div class="hop-inv"></div></div>
    <div class="tab-pane" id="malt" role="tabpanel"><div class="malt-inv"></div></div>
    <div class="tab-pane" id="yeast" role="tabpanel"><div class="yeast-inv"></div></div>
</div>

<br/>

<div class="file btn btn-primary" style="position: relative; overflow: hidden;">
    <i class="fas fa-import"></i>Import
    <input type="file" name="file" onchange="importInventory(this)" style="position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0;">
</div>

<button type="button" class="btn btn-primary" onclick="exportInventory();"><i class="fas fa-file-export"></i> Export</button>
<button type="button" class="btn btn-primary" onclick="window.print();"><i class="fas fa-print"></i> Print</button>

<button type="button" class="btn btn-danger float-right d-print-none" onclick="deleteInventory();">Delete ALL</button>

<br /><br />

<div class="card">
    <div class="card-header">
        Your personal inventory code
    </div>
    <div class="card-body">
        <div class="input-group">
            <input id="invCode" type="text" class="form-control" placeholder="Inventory code...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary fas fa-sync" type="button" onclick="syncInventory();"></button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        loadInventoryCode();
        loadInventory(@Model);
    });
</script>
