@model Int32

@{
    ViewBag.Title = "Inventory";
}

<base href="/search/inventory/" />

<h3>Inventory</h3>

<ul class="nav nav-pills mb-3" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-hop" type="button" role="tab">Hops</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-malt" type="button" role="tab">Malts</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-yeast" type="button" role="tab">Yeasts</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-hop" role="tabpanel"><div class="hop-inv"></div></div>
    <div class="tab-pane fade" id="pills-malt" role="tabpanel"><div class="malt-inv"></div></div>
    <div class="tab-pane fade" id="pills-yeast" role="tabpanel"><div class="yeast-inv"></div></div>
</div>

<br/>

<div class="file btn btn-primary" style="position: relative; overflow: hidden;">
    <i class="fas fa-import"></i>Import
    <input type="file" name="file" onchange="importInventory(this)" style="position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0;">
</div>

<button type="button" class="btn btn-primary" onclick="exportInventory();"><i class="fas fa-file-export"></i> Export</button>
<button type="button" class="btn btn-primary" onclick="window.print();"><i class="fas fa-print"></i> Print</button>

<button type="button" class="btn btn-danger float-right d-print-none" onclick="deleteInventory();">Delete ALL</button>

<br /><br />

<div class="card">
    <div class="card-header">
        Your personal inventory code
    </div>
    <div class="card-body">
        <div class="input-group">
            <input id="invCode" type="text" class="form-control" placeholder="Inventory code...">
            <button class="btn btn-outline-secondary fas fa-sync" type="button" onclick="syncInventory();"></button>
        </div>
    </div>
</div>

<script>
    $(function () {
        loadInventoryCode();
        loadInventory(@Model);
    });
</script>
