@model Hops.Models.ViewModels.ListModel<Hops.Models.Hops.Hop>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Search results - Hops";
}

<base href="/search/" />

@if (!string.IsNullOrEmpty(Model.Pagination?.SearchTerm))
{
    <h3>Search results for "@Model.Pagination.SearchTerm":</h3>
}

@await Html.PartialAsync("~/Views/Hop/List.cshtml", Model)