@model ListModel<Hop>

@{
    ViewBag.Title = "Search results - Hops";
}

<base href="/search/" />

@if (!string.IsNullOrEmpty(Model.Pagination?.SearchTerm))
{
    <h3>Search results for "@Model.Pagination.SearchTerm":</h3>
}

@await Html.PartialAsync("~/Views/Hop/List.cshtml", Model)