@using Hops.Models;
@model ListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Inventory - Hops";
}

@if (!string.IsNullOrEmpty(Model.SearchTerm))
{
    <h3>Search results for "@Model.SearchTerm":</h3>
}

@Html.Partial("List", Model)