@using Hops.Models;
@model ListModel<HopModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Search results - Hops";
}

@if (!string.IsNullOrEmpty(Model.Pagination.SearchTerm))
{
    <h3>Search results for "@Model.Pagination.SearchTerm":</h3>
}

@Html.Partial("~/Views/Hop/List.cshtml", Model)