@{
    ViewBag.Title = "Alcohol Calculator - Hops";
}

<div class="card">
    <div class="card-header">Alcohol Calculator</div>
    <div class="card-body">
        <div class="form-group">
            <label for="og">Original Gravity:</label>
            <input type="number" class="form-control" id="og" placeholder="1.000">
        </div>
        <div class="form-group">
            <label for="fg">Final Gravity:</label>
            <input type="number" class="form-control" id="fg" placeholder="1.000">
        </div>
        <div class="form-group">
            <label for="oBrix">Original Brix:</label>
            <input type="number" class="form-control" id="oBrix">
        </div>
        <div class="form-group">
            <label for="mBrix">Measured Final Brix:</label>
            <input type="number" class="form-control" id="mBrix">
            <h5><small>Alcohol affects the measured index of refraction, so we need to correct for that post-fermentation using the original brix measurement.</small></h5>
        </div>
        <div class="form-group">
            <label for="fBrix">Final Brix:</label>
            <input type="number" class="form-control" id="fBrix">
        </div>
        <div class="form-group">
            <label for="abv">Alcohol By Volume:</label>
            <input type="text" class="form-control" id="abv">
        </div>
        <div class="form-group">
            <label for="abw">Alcohol By Weight:</label>
            <input type="text" class="form-control" id="abw">
        </div>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header">Information</div>
    <div class="card-body">
        <p>This tool allows you to convert between brix and gravity and calculates alcohol by volume (ABV) as well as alcohol by weight (ABV).</p>

        Formula:
        <pre>
ABV = (OG - FG) × 131
ABW = ABV × 0.79336 
GRAVITY = BRIX ÷ (258.6 - (BRIX ÷ 258.2 × 227.1))) + 1 
BRIX = (((182.4601 × GRAVITY - 775.6821) × GRAVITY + 1262.7794) × GRAVITY - 669.5622) 
                </pre>
    </div>
</div>

<script>
    function brixToGravity(brix) {
        brix = parseFloat(brix);

        if (isNaN(brix)) {
            return;
        }

        return (brix / (258.6 - (brix / 258.2 * 227.1))) + 1;
    }

    function gravityToBrix(gravity) {
        gravity = parseFloat(gravity);

        if (isNaN(gravity)) {
            return;
        }

        return (((182.4601 * gravity - 775.6821) * gravity + 1262.7794) * gravity - 669.5622);
    }

    function measuredBrixtoFinal() {
        oBrix = parseFloat($('#oBrix').val());
        mBrix = parseFloat($('#mBrix').val());

        if (isNaN(oBrix) || isNaN(mBrix)) {
            return;
        }

        var gravity = 1.001843 - 0.002318474 * oBrix - 0.000007775 * oBrix * oBrix - 0.000000034 * oBrix * oBrix * oBrix + 0.00574 * mBrix + 0.00003344 * mBrix * mBrix + 0.000000086 * mBrix * mBrix * mBrix;

        var fBrix = gravityToBrix(gravity);

        $('#fg').val(gravity.toFixed(3));
        $('#fBrix').val(fBrix.toFixed(2));
    }

    function calcAbv() {
        var og = parseFloat($('#og').val());
        var fg = parseFloat($('#fg').val());

        if (isNaN(og) || isNaN(fg)) {
            $('#abv').val('–');
            return;
        }

        var abv = (og - fg) * 131;

        $('#abv').val(abv.toFixed(1) + ' %');

        calcAbw(abv);
    }

    function calcAbw(abv) {
        var abw = abv * 0.79336;
        $('#abw').val(abw.toFixed(1) + ' %');
    }

    $('input').on('keyup', function () {
        var $this = $(this);
        if ($this.attr('id') === 'oBrix') {
            $('#og').val(brixToGravity($this.val()).toFixed(3));
            measuredBrixtoFinal();
        }
        if ($this.attr('id') === 'fBrix') {
            $('#fg').val(brixToGravity($this.val()).toFixed(3));
        }
        if ($this.attr('id') === 'mBrix') {
            measuredBrixtoFinal();
        }
        if ($this.attr('id') === 'og') {
            $('#oBrix').val(gravityToBrix($this.val()).toFixed(2));
            $('#mBrix').val('');
        }
        if ($this.attr('id') === 'fg') {
            $('#fBrix').val(gravityToBrix($this.val()).toFixed(2));
            $('#mBrix').val('');
        }
        calcAbv();
    });
</script>