@{
    ViewBag.Title = "Hydrometer Temperature Correction - Hops";
}

<div class="card">
    <div class="card-header">Hydrometer Temperature Correction</div>
    <div class="card-body">
        <div class="form-group">
            <label for="measurementSystem">Measurement System:</label>
            <select class="form-control" id="measurementSystem">
                <option value="1">U.S. Customary</option>
                <option value="2">Metric</option>
            </select>
        </div>
        <div class="form-group">
            <label for="measuredSg">Measured specific gravity:</label>
            <input type="number" class="form-control" id="measuredSg" placeholder="1.000">
        </div>
        <div class="form-group">
            <label for="measuredTemp">Measured temperature (&deg;<span id="measuredTempLabel">F</span>):</label>
            <input type="number" class="form-control" id="measuredTemp" value="120">
        </div>
        <div class="input-group">
            <label for="calibrationTemp">Hydrometer calibration temperature (&deg;<span id="calibrationTempLabel">F</span>):</label>
            <input type="number" class="form-control" id="calibrationTemp" value="68">
        </div>
        <div class="form-group">
            <label for="correctedSg">Corrected specific gravity:</label>
            <input type="text" class="form-control" id="correctedSg">
        </div>
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">Information</div>
    <div class="card-body">
        <p>Correct for temperature when measuring specific gravity using a hydrometer.</p>

        Formula:
        <pre>
correctedSg = measuredSg * ((1.00130346 - 0.000134722124 * measuredTemp + 0.00000204052596 * Math.pow(measuredTemp, 2) - 0.00000000232820948 * Math.pow(measuredTemp, 3)) / (1.00130346 - 0.000134722124 * calibrationTemp + 0.00000204052596 * Math.pow(calibrationTemp, 2) - 0.00000000232820948 * Math.pow(calibrationTemp, 3)))
                </pre>
    </div>
</div>

<script>
    function celsiusToFahrenheit(celsius) {
        return (celsius * (9 / 5)) + 32;
    }

    function fahrenheitToCelsius(fahrenheit) {
        return (fahrenheit - 32) * (5 / 9);
    }

    function calcCorrectedSg() {
        var measurementSystem = $('#measurementSystem').val();
        var measuredSg = parseFloat($('#measuredSg').val());
        var measuredTemp = parseFloat($('#measuredTemp').val());
        var calibrationTemp = parseFloat($('#calibrationTemp').val());

        if (measurementSystem === 2) {
            measuredTemp = celsiusToFahrenheit(measuredTemp);
            calibrationTemp = celsiusToFahrenheit(calibrationTemp);
        }

        var correctedSg = measuredSg * ((1.00130346 - 0.000134722124 * measuredTemp + 0.00000204052596 * Math.pow(measuredTemp, 2) - 0.00000000232820948 * Math.pow(measuredTemp, 3)) / (1.00130346 - 0.000134722124 * calibrationTemp + 0.00000204052596 * Math.pow(calibrationTemp, 2) - 0.00000000232820948 * Math.pow(calibrationTemp, 3)))

        $('#correctedSg').val(correctedSg.toFixed(3));
    }

    $('#measurementSystem').on('change', function () {
        var $this = $(this);

        if (parseInt($this.val()) === 2) {
            $('#measuredTemp').val(fahrenheitToCelsius($('#measuredTemp').val()));
            $('#calibrationTemp').val(fahrenheitToCelsius($('#calibrationTemp').val()));
            $('#measuredTempLabel').text('C');
            $('#calibrationTempLabel').text('C');
        } else {
            $('#measuredTemp').val(celsiusToFahrenheit($('#measuredTemp').val()));
            $('#calibrationTemp').val(celsiusToFahrenheit($('#calibrationTemp').val()));
            $('#measuredTempLabel').text('F');
            $('#calibrationTempLabel').text('F');
        }
    });

    $('input').on('keyup', function () {
        calcCorrectedSg();
    });

</script>