@using Hops.Models;
@model HopModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Label Printer - Hops";
}

<div class="panel panel-default hidden-print">
    <div class="panel-heading">Label Printer</div>

    <div class="panel-body">
        <p>Please select your label image:</p>

        <div class="row">
            <div class="form-group col-xs-3">
                <label class="btn btn-default hidden-print" for="my-file-selector">
                    <input id="my-file-selector" accept="image/*" type="file" style="display: none;" onchange="readURL(this);">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Browse...
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-3">
                <label for="sizeSel">Size:</label>
                <select class="form-control" id="sizeSel" onchange="setLabels(labelImage, $('.labelPrint').attr('src'))">
                    <option value="3">Small</option>
                    <option value="4">Medium</option>
                    <option value="5" selected="selected">Large</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <h6><small id="info">Label will be duplicated 12 times and resized to be atleast smaller than 5x8cm</small></h6>
            </div>
        </div>

        <script>
            var labelImage;

            function calculateAspectRatioFit(srcWidth, srcHeight, maxWidth, maxHeight) {
                var ratio = Math.min(maxWidth / srcWidth, maxHeight / srcHeight);
                return { width: srcWidth * ratio, height: srcHeight * ratio };
            }

            function setLabels(labelImage, src) {
                $('.labelPrint').attr('src', src);
                $('.labelPrint').width($('#sizeSel').val() + "cm");
                $('#preview').show();

                $('#info')
                    .text("Label will be duplicated 12 times and resized to be atleast smaller than " +
                        $('#sizeSel').val() +
                        "x8cm");
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        labelImage = new Image();
                        labelImage.onload = function () {
                            setLabels(labelImage, e.target.result);
                        };
                        labelImage.src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </div>
</div>

<div id="preview" style="display: none" class="text-center">
    <button type="button" class="btn btn-default hidden-print" onclick="window.print();">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print...
    </button>
    <h2 class="hidden-print">Preview:</h2>
    @for (int i = 0; i < 4; i++)
    {
        <p>
            @for (int j = 0; j < 3; j++)
            {
                <img style="border: 1px solid black;" class="labelPrint" alt="label" />
            }
        </p>
    }
</div>