@model Hops.Models.ViewModels.ListModel<Hops.Models.Yeasts.Yeast>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Yeasts";
}

<base href="/yeast/" />

<h3>Yeasts:</h3>
<br/>

@await Html.PartialAsync("~/Views/Yeast/List.cshtml", Model)