@model Hops.Models.ViewModels.ListModel<Hops.Models.Malts.Malt>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Malts";
}

<base href="/malt/" />

<h3>Malts:</h3>
<br/>

@await Html.PartialAsync("~/Views/Malt/List.cshtml", Model)