@model Hops.Models.ViewModels.ListModel<Hops.Models.Malts.Malt>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Recipes";
}

<base href="/recipe/" />

<h3>Recipes:</h3>
<br/>

@await Html.PartialAsync("~/Views/Recipe/List.cshtml", Model)