@using Hops.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>

    <link href="~/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <script src="~/sortable/sortable.min.js"></script>

    <link href="~/typeahead/typeaheadjs.css" rel="stylesheet" />
    <script src="~/typeahead/typeahead.bundle.js"></script>

    <link href="~/fontello-embedded.css" rel="stylesheet" />
    <link href="~/sticky-footer.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Hops</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aromas <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var aromaProfile in Enum.GetValues(typeof(AromaProfileEnum)).OfType<AromaProfileEnum>().ToList().Skip(1).OrderBy(a => a.ToString()))
                                {
                                    <li><a href="~/search/aroma/(int)@aromaProfile">@aromaProfile.Wordify()</a></li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/calc/priming">Bottle Priming Calculator</a></li>
                                <li><a href="~/calc/ibu">IBU Calculator</a></li>
                            </ul>
                        </li>
                        <li><a id="inventory" href="#">Inventory</a></li>
                    </ul>

                    <div class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control typeahead" id="search" onkeypress="handle(event)" placeholder="Search">
                        </div>
                        <button class="btn btn-default" onclick="search()">Submit</button>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Made by <a href="http://www.curleezme.nl">Curleez &amp; ME</a> - 
                <a href="mailto:hops@curleezme.nl">Contact</a> - 
                <a href="https://github.com/sboulema/Hops"><span class="icon-github-circled"></span></a> <a href="https://hub.docker.com/r/sboulema/hops/"><span class="icon-docker-white"></span></a>   
            </p>
        </div>
    </footer>

    <script>
        function search() {
            window.location = "/search/" + document.getElementById('search').value
        }

        function handle(e) {
            if (e.keyCode === 13) {
                search();
            }
            return false;
        }

        var hops = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/search/autocomplete/%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('.form-group .typeahead').typeahead(null, {
            name: 'hopSearch',
            source: hops,
            limit: 30,
            highlight: true
        });

        $('#search').on('typeahead:selected', function (e, searchTerm) {
            search();
        });

        function updateInventoryLink() {
            var hopInv = [];

            var store = localStorage.getItem("hopInv");
            if (store !== null) {
                hopInv = JSON.parse(store);
            }

            $("#inventory").attr("href", "/search/inventory/" + hopInv.join())
        }

        $(document).ready(function () {
            updateInventoryLink();
        });
    </script>
</body>
</html>