<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>

    <link href="~/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <script src="~/sortable/sortable.min.js"></script>

    <link href="~/typeahead/typeaheadjs.css" rel="stylesheet" />
    <script src="~/typeahead/typeahead.bundle.js"></script>

    <link href="~/fontello-embedded.css" rel="stylesheet" />
    <link href="~/sticky-footer.css" rel="stylesheet" />

    <script src="~/inventory/inventory.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">Curleez &amp; ME</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/hop">Hops</a></li>
                    <li><a href="/malt">Malts</a></li>
                    <li><a href="/yeast">Yeasts</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/calc/priming">Bottle Priming Calculator</a></li>
                            <li><a href="~/calc/ibu">IBU Calculator</a></li>
                        </ul>
                    </li>
                    <li><a id="inventory" href="/search/inventory">Inventory</a></li>
                    <li class="visible-xs-inline"><a href="/search/">Search</a></li>
                </ul>

                @if (!ViewBag.Title.Equals("Search"))
                {
                    <div class="navbar-form navbar-right hidden-xs">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control typeahead" id="search" onkeypress="handle(event)" placeholder="Search Hops...">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" onclick="search()" style="background-image:none;box-shadow:none;">
                                        <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                                    </button>
                                    <button type="button" class="btn btn-default dropdown-toggle" style="background-image:none;box-shadow:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="/search/">Advanced search</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer hidden-print">
        <div class="container">
            <p class="text-muted">
                Made by <a href="http://www.curleezme.nl">Curleez &amp; ME</a> - 
                <a href="mailto:hops@curleezme.nl">Contact</a> - 
                <a href="https://github.com/sboulema/Hops"><span class="icon-github-circled"></span></a> <a href="https://hub.docker.com/r/sboulema/hops/"><span class="icon-docker-white"></span></a>   
            </p>
        </div>
    </footer>

    <script>
        function search() {
            window.location = "/search/" + document.getElementById('search').value
        }

        function freeTextSearch() {
            window.location = "/search/freetext/" + document.getElementById('freetextsearch').value
        }

        function handle(e, action) {
            if (e.keyCode === 13) {
                action();
            }
            return false;
        }

        var hops = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/search/autocomplete/%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('.form-group .typeahead').typeahead(null, {
            name: 'hopSearch',
            source: hops,
            limit: 30,
            highlight: true
        });

        $('#search').on('typeahead:selected', function (e, searchTerm) {
            search();
        });
    </script>
</body>
</html>