<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <script src="~/lib/jquery/jquery.min.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
    <link href="~/lib/typeahead.js-bootstrap4-css/typeaheadjs.css" rel="stylesheet" />

    <script src="~/lib/sortable/Sortable.min.js"></script>
    <script src="~/lib/clipboard/dist/clipboard.min.js"></script>

    <link href="~/sticky-footer.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev"
          crossorigin="anonymous">

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-firestore.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "{firebaseApiKey}",
            authDomain: "hops-ab2d7.firebaseapp.com",
            databaseURL: "https://hops-ab2d7.firebaseio.com",
            projectId: "hops-ab2d7",
            storageBucket: "hops-ab2d7.appspot.com",
            messagingSenderId: "973064227489"
        };
        firebase.initializeApp(config);
    </script>

    <script src="~/inventory/inventory.js"></script>
    <script src="~/inventory/firebaseHelper.js"></script>

    <link href="~/style.css" rel="stylesheet" />

    @RenderSection("Scripts", false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/">Curleez &amp; ME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/hop"><i class="fas fa-spa text-success"></i> Hops</a></li>
                    <li class="nav-item"><a class="nav-link" href="/malt"><i class="fas fa-wheat text-warning"></i> Malts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/yeast"><i class="fas fa-flask text-info"></i> Yeasts</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-calculator"></i> Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/calc/priming">Bottle Priming Calculator</a>
                            <a class="dropdown-item" href="~/calc/ibu">IBU Calculator</a>
                            <a class="dropdown-item" href="~/calc/pitchrate">Pitch Rate Calculator</a>
                            <a class="dropdown-item" href="~/calc/alcohol">Alcohol Calculator</a>
                            <a class="dropdown-item" href="~/calc/maltpotential">Malt Potential Extract Calculator</a>
                            <a class="dropdown-item" href="~/calc/mashwater">Mash Water Calculator</a>
                            <a class="dropdown-item" href="~/calc/mashinfusion">Mash Infusion Calculator</a>
                            <a class="dropdown-item" href="~/calc/color">Color Converter</a>
                            <a class="dropdown-item" href="~/calc/hydrometer">Hydrometer Temperature Correction</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/calc/labels">Label Printer</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cauldron"></i> Recipes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/recipe/new">New Recipe</a>
                            <a class="dropdown-item" href="~/recipe">All Recipes</a>
                            <a class="dropdown-item" href="~/recipe/import">Import Recipe</a>
                        </div>
                    </li>

                    <li class="nav-item"><a class="nav-link" id="inventory" href="/search/inventory"><i class="fas fa-inventory"></i> Inventory</a></li>
                    <li class="nav-item d-block d-sm-none"><a class="nav-link" href="/search/">Search</a></li>
                </ul>

                @if (!ViewBag.Title.Equals("Search"))
                {
                    <form class="form-inline d-none d-sm-block">
                        <div class="input-group">
                            <input type="text" class="form-control typeahead" id="search" onkeypress="handle(event, search)" placeholder="Search Hops...">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary"><span class="fas fa-search"></span></button>
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/search/">Advanced search</a>
                                </div>
                            </div>
                        </div>
                    </form>
                }

            </div>
        </nav>

        <br/>

        @RenderBody()  

        <br/>
    </div>

    <footer class="footer d-print-none">
        <div class="container">
            <p class="text-muted">
                Made by <a href="http://www.curleezme.nl">Curleez &amp; ME</a> - 
                <a href="mailto:hops@curleezme.nl">Contact</a> - 
                <a href="https://github.com/sboulema/Hops"><span class="fab fa-github"></span></a> <a href="https://hub.docker.com/r/sboulema/hops/"><span class="fab fa-docker"></span></a>   
            </p>
        </div>
    </footer>

    <script>
        function search() {
            window.location = "/search/" + document.getElementById('search').value.replace(/\s/g, '-').toLowerCase();
        }

        function freeTextSearch() {
            window.location = "/search/freetext/" + document.getElementById('freetextsearch').value;
        }

        function handle(e, action) {
            if (e.keyCode === 13) {
                action();
            }
            return false;
        }

        var hops = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/search/autocomplete/%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('.input-group .typeahead').typeahead(null, {
            name: 'hopSearch',
            source: hops,
            limit: 30,
            highlight: true
        });

        $('#search').on('typeahead:selected', function (e, searchTerm) {
            search();
        });
    </script>
</body>
</html>