@using Hops.Models;
@model List<Hop>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hops";
}

<div class="panel panel-default">
    <table class="table sortable-theme-bootstrap" data-sortable>
        <thead>
            <tr>
                <th>Name</th>
                <th>Brewing usage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hop in Model)
            {
                <tr>
                    <td><a href="@Url.Link("Detail", new { Id = hop.Id })">@hop.Name</a></td>
                    <td>@((BrewingUsage)hop.BrewingUsage)</td>
                </tr>
            }
        </tbody>
    </table>
</div>